
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        <a href="{{ path('field_index') }}">Liste des terrains</a></br>
        <a href="{{ path('fos_user_security_logout') }}">Se deconnecter</a>
        {% block javascripts %}{% endblock %}
    </body>
